/*===================
    1.COMMON CSS
 ==================== */


/* font-color */

.text-light-red {
    color: #DF6951;
}

.text-royel-blue {
    color: #181E4B;
}

.text-gray {
    color: #5E6282;
}


/* font family */

.ff-popins {
    font-family: 'Poppins', sans-serif;
}

.ff-volkhob {
    font-family: 'Volkhov', serif;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0px;
}


/* font size */

.fs-4rem {
    font-size: 4rem;
}


/*===================
    2.HEADER CSS
 ==================== */

.header-section {
    background: url(../images/Decorebg-hero.png);
    background-size: cover;
}


/*=============================
    3.category section CSS
 =============================*/

.category-card {
    border-radius: 30px !important;
}


/*===========================
    5.Subscribe section CSS
 =============================== */

.subscribe-section {
    padding: 100px 10%;
    line-height: 1.7em;
    background: url(../images/Group\ 7811.png);
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 991px) {
    .collapse.navbar-collapse {
        background-color: rgb(0, 0, 0);
        width: 100%;
        margin-left: 0px !important;
        position: absolute;
        left: 0;
        top: 70px;
        padding: 20px;
        padding-left: 0px;
        text-align: center;
    }
    .collapse.navbar-collapse a {
        background: rgb(255, 255, 255);
        color: rgb(0, 0, 0) !important;
        border: 1px solid black !important;
    }
    .collapse.navbar-collapse a:hover {
        color: rgb(255, 255, 255) !important;
        background-color: black;
    }
    .hero-header {
        font-size: 46px;
    }
    .subscribe-header {
        font-size: 20px !important;
    }
}